name: Deploy # Workflow 이름
on: # Event 감지
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code. # Repo checkout
        uses: actions/checkout@v2

      - name: Setup Node version.
        uses: actions/setup-node@v3
        with:
          node-version: 18.2.0

      - name: Check Node v # Node v 확인
        run: node -v

      - name: Create .env.local file # .env.local 생성
        shell: bash
        run: |
          echo "${{ secrets.NEXT_ENV }}" >> .env

      - name: Install Dependencies # 의존 파일 설치
        run: yarn install

      - name: Build # Build
        run: yarn build
        env:
          CI: ""

      - name: zip create
        run: zip -qq -r ./build-fe.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload to S3 # Upload build file to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp --region ap-northeast-2 ./build-fe.zip s3://windmeal-bucket/build-fe.zip

      - name: Deploy # Deploy to EC2
        run: aws deploy create-deployment
          --application-name windmeal-frontend
          --deployment-config-name CodeDeployDefault.AllAtOnce
          --deployment-group-name windmealGroup
          --s3-location bucket=windmeal-bucket,key=build-fe.zip,bundleType=zip
